.wrapper {
  display: flex;
  /* grid-gap: 5px; */
  /* justify-content: flex-start; */
  padding: .25rem;
  /* grid-auto-columns: minmax(0,max-content); */
  flex-flow: row wrap;
  background-color: lightgrey;
}

app-toolbar-selector {
  display: flex;
  min-width: 100%;
}


.tool {
  /* grid-row: 2; */
  display: flex block;
  /* box-sizing: border-box; */
  max-width: 528px;
  /* min-width: 10%; */
  /* float: left; */
  align-content: flex-start;
  
  /* display: flex; */
  /* flex-grow: 2;
  align-self: flex-start; */
}